# Variables de entorno para la conexión MySQL
DB_HOST=rateapp20261112db-manguitoscuro2707-4875.c.aivencloud.com
DB_PORT=21292
DB_USER=avnadmin
DB_PASSWORD=AVNS_VdNqm1pyagfpEvBY5X8
DB_NAME=defaultdb
DB_SSL_CA=src/server/ca-cert.pem
