---
import "../../styles/global.css";
---

<section>
    <div
        class="w-full h-auto flex flex-col bg-base-200 justify-center items-center gap-4 pt-28 p-8 pb-12"
    >
        <h1 class="text-primary-content font-bold m-2" id="welcomeText">
            ¿Que Experiencia vas a conocer hoy?
        </h1>
        <h1 class="text-7xl text-white font-bold">Bienvenido a RateApp</h1>
        <p class="text-3xl text-neutral-content">
            Encuentra restaurantes y servicios increíbles cerca de tí.
        </p>
        <div class="p-12"></div>

        <div>
            <div class="carousel overflow-y-hidden rounded-box">
                <div class="carousel-item">
                    <div
                        class="relative opacity-70 has-[:hover]:opacity-95 transition-all"
                    >
                        <img
                            src="https://img.daisyui.com/images/stock/photo-1559703248-dcaaec9fab78.webp"
                            alt="Drink"
                        />

                        <div
                            class="absolute w-full h-full top-0 left-0 hover:-translate-y-10 transition-transform duration-300 flex items-end justify-center opacity-60 hover:opacity-100"
                        >
                            <div
                                class="w-full flex flex-col bg md:translate-y-12 p-2"
                            >
                                <h3 class="text-3xl text-primary font-bold">
                                    Descubre restaurantes
                                </h3>
                                <h4 class="text-primary-content">
                                    Encuentra restaurantes cerca de tu ubicación
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div
                        class="relative opacity-70 has-[:hover]:opacity-95 transition-all"
                    >
                        <img
                            src="https://img.daisyui.com/images/stock/photo-1565098772267-60af42b81ef2.webp"
                            alt="Drink"
                        />

                        <div
                            class="absolute w-full h-full top-0 left-0 md:hover:-translate-y-10 transition-transform duration-300 flex items-end justify-center opacity-60 hover:opacity-100"
                        >
                            <div
                                class="w-full flex flex-col bg md:translate-y-12 p-2"
                            >
                                <h3 class="text-3xl text-primary font-bold">
                                    Gana recompensas
                                </h3>
                                <h4 class="text-primary-content">
                                    Acumula puntos y canjéalos por descuentos
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div
                        class="relative opacity-70 has-[:hover]:opacity-95 transition-all"
                    >
                        <img
                            src="https://img.daisyui.com/images/stock/photo-1572635148818-ef6fd45eb394.webp"
                            alt="Drink"
                        />

                        <div
                            class="absolute w-full h-full top-0 left-0 md:hover:-translate-y-10 transition-transform duration-300 flex items-end justify-center opacity-60 hover:opacity-100"
                        >
                            <div
                                class="w-full flex flex-col bg md:translate-y-12 p-2"
                            >
                                <h3 class="text-3xl text-primary font-bold">
                                    Obtenen reseñas especificas
                                </h3>
                                <h4 class="text-primary-content ">
                                    Encuentra reseñas detalladas de otros
                                    usuarios para tomar decisiones informadas
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div
                        class="relative opacity-70 has-[:hover]:opacity-95 transition-all"
                    >
                        <img
                            src="https://img.daisyui.com/images/stock/photo-1494253109108-2e30c049369b.webp"
                            alt="Drink"
                        />
                        <div
                            class="absolute w-full h-full top-0 left-0 md:hover:-translate-y-10 transition-transform duration-300 flex items-end justify-center opacity-60 hover:opacity-100"
                        >
                            <div
                                class="w-full flex flex-col bg md:translate-y-12 p-2"
                            >
                                <h3 class="text-3xl text-primary font-bold">
                                    Lleva tu negocio al siguiente nivel
                                </h3>
                                <h4 class="text-primary-content">
                                    Únete a nuestra plataforma y haz crecer tu
                                    negocio con la ayuda de nuestros usuarios y
                                    sus reseñas
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
