---
import "../../styles/global.css";

---



<header
  class="fixed top-0 left-0 w-full z-50 flex justify-between items-center px-6 py-4 bg-bg/90 backdrop-blur-md border border-stone-200/10 shadow-2xl rounded-br-4xl rounded-bl-4xl"
  id="headerAncla"
>
  <!-- Top Right/Center: App Name and Location -->
  <div class="flex items-center gap-4">
    <a href="/">
      <h1
        class="text-xl font-extrabold text-primary font-headline tracking-tight"
      >
        RateApp
      </h1>
    </a>
  </div>



  <div class="flex items-center gap-1">
    <nav
      class="hidden md:visible md:flex justify-center items-center gap-6 border-l border-stone-200/10"
    >
        <a href="/dashboard"><button class="btn btn-neutral">Ir al dashboard</button></a>
      <a href="/login"><button class="btn btn-primary">Iniciar Sesion</button></a>
    </nav>

    
  </div>
</header>
