---
import "../../styles/global.css";

import HeaderUi from "./header.astro";


import CallBackHeader from "./callBackHeader.astro";

---

<section
	class="bg-bg text-on-surface font-body max-w-auto mx-auto overflow-x-hidden pb-34 min-h-dvh"
>
	<HeaderUi />

	<CallBackHeader />
	<main class="mt-20 pt-12 px-4 space-y-8">
		
	</main>
</section>2